
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 786px)";
@tablet:    ~"only screen and (min-width: 787px) and (max-width: 1300px)";
body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    font-weight: normal!important;
    a{
        text-decoration: none;
        color: black;
    }

    @media @mobile{
        li{
            font-weight: 400;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Questrial', sans-serif;;
        font-weight: normal!important;
    }
    header{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        z-index: 10;
        width: 100%;

        .menuHamb{
            display: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            margin-right: 30px;
            margin-top: 40px;

            .bar{
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }

            .bar1change {
                transform: translate(0, 11px) rotate(-45deg);
              }
            
            .bar2change {opacity: 0;}

            .bar3change {
                transform: translate(0, -11px) rotate(45deg);
              }

              @media @mobile{
                display: inline-block;
              }
        }
        

        .headerContainer{
            display: flex;
            justify-content: space-between;
            padding: 30px;

            h1{
                font-weight: 600;
                font-size: 25px;

                @media @mobile{
                    font-weight: 400;
                }
            }

            .navMenu{
                display: flex;
                gap: 35px;
                align-items: center;
                justify-content: center;
                a{
                    transition: all 0.3s ease-in-out;
                    font-size: 20px;
                    text-align: center;
                }
                a:hover{
                    transform: scale(1.05);
                }

                @keyframes slide {
                    from {height: 0;}
                    to {height: 25vh;}
                  }
            }

            .navMenuMobile{
                position: absolute;
                width: 90%;
                margin-top: 80px;
                background-color: white;
                z-index: 100;
                height: 25vh;
                visibility: visible;
                display: grid;
            }
        }
    }

    .container{
        width: 1000px;
        height: 1000px;
        display: grid;
        justify-items: center;
        margin: auto;

        .box{
            height: 300px;
        }

        .containerHeader{
            text-align: center;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 679px;
            
            h2{
                box-shadow: inset 0 0 0 0 black;
                color: black;
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;              
                padding: 20px;  
            }

            h2:hover {
                color: white;
                cursor: default;
              }
        }

        .containerImage{
            background-color: #f5f5f5;
            width: 950px;
            height: 400px;
            padding: 25px;
            border-radius: 17px;
            display: flex;
            justify-content: space-between;
            transition: all 0.7s ease-in-out;
            img{
                width: 300px;
                height: 300px;
                right: auto;
                margin-top: 125px;
                float: right;
                position: relative;

            }
            .containerImageLeftBox{
                display: grid;
                justify-content: space-between;
                margin-left: 5%;
                h3{
                    font-size: 40px;
                    height: 60px;
                    cursor: default;

                    @media @mobile{
                        font-size: 30px;
                    }

                }

                a{
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 70%;
                    cursor: pointer;

                    @media @mobile{
                        margin-top: 0;
                        font-size: 20px;
                    }
                }

                img{
                    @media @mobile{
                        margin-top: 0;
                    }
                }
            }
        }
        .containerImage:hover{
            transform: scale(1.05); 

            @media @mobile{
                transform: none;
            }
        }
    }
    footer{
        border-top: 1px solid #ddd;
        bottom : 0;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0 25px 0;

        .footerContainer{
            width: 60%;
            height: 70%;
            display: flex;

            @media @mobile {
                display: grid;
                width: 90%;
                height: 100%;
            }
        }

        .footerLeft{
            display: grid;
            font-size: 50px;
            width: 50%;
            span{
                width: 80%;

                @media @mobile {
                    width: 100%;
                }

                a{
                    cursor: pointer;
                }
            }

            @media @mobile {
                width: 100%;
                font-size: 40px;
            }
        }

        .footerLeft span:last-child{
            font-size: 18px;
            bottom: 50px;

            @media @mobile {
                display: none;
                bottom: 0;
            }
        }

        .footerRight{
            display: grid;
            width: 50%;
            font-size: 40px;
            font-weight: 600;
            align-items: center;
            justify-content: center;

            @media @mobile {
                font-size: 30px;
                justify-content: left;
                margin-top: 3vh;
            }
        }

        .footerRight ul{
            list-style: none;
            padding: 0;
            margin: 0;
           li{
            width:33.33%;
            line-height: 40px;
            list-style-type:none;
            transition: all 0.3s ease-in-out;
            }
        }
        ul:hover li{
            opacity:0.5;
        }
        ul li:hover{
            opacity:1;
            cursor: pointer;
        }
    }
}


@media @mobile {
    body{

        header{
            .headerContainer{
                background-color: white;

                .navMenu{
                    display: none; 
                    visibility: collapse;
                }

                .navMenuMobile {
                    position: absolute;
                    width: 90%;
                    margin-top: 80px;
                    background-color: white;
                    z-index: 100;
                    height: 25vh;
                    visibility: visible;
                    display: grid;
                }
            }
        }
        div.container{
            width: 320px;
            .containerHeader{
                width: 200px;
                font-size: 28px;
                margin-top: 100px;
            }

            .containerImage{
                background-color: #f5f5f5;
                width: 250px;
                margin-top: 50px;
                height: 350px;
                display: grid;
                justify-content: unset;
                transition: none;
                .containerImageLeftBox {
                    h3{
                        height: 20px;
                    }
                }
                img{
                    width: 250px;
                    height: 250px;
                    margin-top: 24px;
                }

            }
        }
    }

}

@media @tablet{
    body{

        header{
            .headerContainer{
                background-color: white;
            }
        }

        .container{
            width: 600px;
            height: 1000px;
    
            .box{
                height: 300px;
            }
    
            .containerHeader{
                width: 500px;
            }
    
            .containerImage{
                width: 550px;
                height: 400px; 
                transition: none

        }
    }
}
}