
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@mobile:    ~"only screen and (min-width: 320px) and (max-width: 786px)";
@mobile2stage:    ~"only screen and (min-width: 320px) and (max-width: 387px)";
@tablet:    ~"only screen and (min-width: 787px) and (max-width: 1300px)";
@desktop2stage:    ~"only screen and (min-width: 787px) and (max-width: 1643px)";
body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;

    a{
        text-decoration: none;
        color: black;
    }

    header{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        z-index: 10;
        width: 100%;

        .menuHamb{
            display: none;
            cursor: pointer;
            position: absolute;
            right: 0;
            margin-right: 30px;
            margin-top: 40px;

            .bar{
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }

            .bar1change {
                transform: translate(0, 11px) rotate(-45deg);
              }
            
            .bar2change {opacity: 0;}

            .bar3change {
                transform: translate(0, -11px) rotate(45deg);
              }

              @media @mobile{
                display: inline-block;
              }
        }
        

        .headerContainer{
            display: flex;
            justify-content: space-between;
            padding: 30px;

            h1{
                font-weight: 600;
                font-size: 25px;

                @media @mobile{
                    font-weight: 400;
                }
            }

            .navMenu{
                display: flex;
                gap: 35px;
                align-items: center;
                justify-content: center;
                a{
                    transition: all 0.3s ease-in-out;
                    font-size: 20px;
                    text-align: center;
                }
                a:hover{
                    transform: scale(1.05);
                }

                @media @mobile {
                    visibility: collapse;
                    display: none;

                }

                @keyframes slide {
                    from {height: 0;}
                    to {height: 25vh;}
                  }
            }

            .navMenuMobile{
                position: absolute;
                width: 90%;
                margin-top: 80px;
                background-color: white;
                z-index: 100;
                height: 25vh;
                visibility: visible;
                display: grid;
            }
        }

        @media @tablet{
            background-color: white
        }

        @media @mobile{
            background-color: white
        }
    }

    .container{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 120px;
        margin-bottom: 120px;
        width: 70%;
        height: 1000px;
        display: grid;
        justify-items: center;

        .box{
            height: 300px;
        }

        @media @mobile{
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
        .containerHeader{
            text-align: center;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            
            @media @tablet{
                font-size: 30px;
            }

            @media @mobile{
               font-size: 20px;
            }
            
            h2{
                box-shadow: inset 0 0 0 0 black;
                color: black;
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                width: 70%;

                @media @tablet{
                    width: 75%;
                }
    
                @media @mobile{
                   width: 90%;
                }
                
            }

            h2:hover {
                color: white;
                padding: 10px;
                cursor: default;
              }
        }

        .containerImage{
            background-color: #f5f5f5;
            width: 60%;
            height: 400px;
            padding: 25px;
            border-radius: 17px;
            transition: all 0.6s ease-in-out;
            display: flex;
            justify-content: space-between;

            @media @desktop2stage{
                width: 100%;
            }

            @media @mobile{
                display: grid;
                justify-content: unset;
                width: 80%;
                height: 450px;
            }

            img{
                width: 300px;
                height: 300px;
                right: auto;
                margin-top: 125px;
                float: right;
                position: relative;

                @media @mobile{
                    width: 200px;
                    height: 200px;
                    margin-top: 134px;
                }
            }

            img:hover{
                transform: scale(1.05);
                margin-top: 115px;

                @media @mobile{
                    transform: none;
                    margin-top: 134px;
                }
            }

            .containerImageLeftBox{
                display: grid;
                justify-content: space-between;
                margin-left: 5%;
                h3{
                    font-size: 40px;
                    height: 60px;
                    cursor: default;

                    @media @mobile{
                        font-size: 30px;
                    }

                }

                a{
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 70%;
                    cursor: pointer;

                    @media @mobile{
                        margin-top: 0;
                        font-size: 20px;
                    }
                }

                img{
                    @media @mobile{
                        margin-top: 0;
                    }
                }

                @media @desktop2stage{
                    display: unset;
                }

            }
        }
        .containerImage:hover{
            transform: scale(1.05); 

            @media @mobile{
                transform: none;
            }
        }
    }
    footer{
        border-top: 1px solid #ddd;
        bottom : 0;
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0 25px 0;

        @media @mobile {
            height: 350px;
            margin-bottom: 50px;
        }

        .footerContainer{
            width: 60%;
            height: 70%;
            display: flex;

            @media @mobile {
                display: grid;
                width: 90%;
                height: 100%;
            }
        }

        .footerLeft{
            display: grid;
            font-size: 50px;
            width: 50%;
            span{
                width: 80%;

                @media @mobile {
                    width: 100%;
                }

                a{
                    cursor: pointer;
                }
            }

            @media @mobile {
                width: 100%;
                font-size: 40px;
            }
        }

        .footerLeft span:last-child{
            font-size: 18px;
            bottom: 50px;

            @media @mobile {
                display: none;
                bottom: 0;
            }
        }

        .footerRight{
            display: grid;
            width: 50%;
            font-size: 40px;
            font-weight: 600;
            align-items: center;
            justify-content: center;

            @media @mobile {
                font-size: 30px;
                justify-content: left;
                margin-top: 3vh;
            }
        }

        .footerRight ul{
            list-style: none;
            padding: 0;
            margin: 0;
           li{
            width:33.33%;
            line-height: 40px;
            list-style-type:none;
            transition: all 0.3s ease-in-out;
            }
        }
        ul:hover li{
            opacity:0.5;
        }
        ul li:hover{
            opacity:1;
            cursor: pointer;
        }
    }
}
